<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID 19 - Tracker | MayaData</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="jquery-jvectormap-2.0.5.css">
</head>
<body>
    <nav class="navbar text-light bg-dark">
        <a class="navbar-brand" href="#" style="color: white;">Covid-19 | Tracker</a>
      </nav><br><br>
      <div class="container">
          <div class="row">
        <div class='col-md-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
          </div>
          <div class="col-md-3">
              <input type="submit" value="Search" class="btn btn-primary">
          </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Confirmed Cases</div>
                    <div class="card-body">
                      <h5 class="card-title"><%= result.TotalConfirmed %></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Recovered</div>
                    <div class="card-body">
                      <h5 class="card-title"><%= result.TotalRecovered %></h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                  </div>
              </div>              
              <div class="col-md-4">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Deaths</div>
                    <div class="card-body">
                      <h5 class="card-title"><%= result.TotalDeaths %></h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">List of Countries where COVID-19 has spread</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% countryList.forEach(function(m,index ){ %>
                      <tr>
                        <th scope="row"><%- index+1 %></th>
                        <td><%- m.name %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
              </div>
              <div class="col-md-8">
                <div id="map" style="height: 500px"></div>
              </div>
          </div>
      </div>
    
      <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="jquery-jvectormap-2.0.5.min.js"></script>
<script src="https://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
<script>
  $('#map').vectorMap({map: 'world_mill',
  series: {
          regions: [{
            scale: ['#2d99ff',"#ff502d"],
            normalizeFunction: 'polynomial',
            values: <%- mapData %>
          }]
        },
  //       onRegionTipShow: function(e, el, code){
  //   el.html(el.html()+' (Confirmed Cases - '+<%- mapData %>+')');
  // }
})
</script>
</body>
</html>